<div class="mesgs">
  <div class="msg_history" #scrollMe>
    <div *ngFor="let message of messages[selectedFriend]">
      <div class="incoming_msg" *ngIf="message.incomming">
        <div class="incoming_msg_img"> <img src='assets/img/user-profile.png' alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <p *ngIf="!message.isFile">{{ message.message }}</p>
            <p *ngIf="message.isFile">
              <a [download]="message.name" [href]="message.data">{{ message.name }}</a>
            </p>
            <span class="time_date"> {{message.time_date | date : 'shortTime' }} |
              {{ message.time_date | date : 'mediumDate'}}</span>
          </div>
        </div>
      </div>
      <div class="outgoing_msg" *ngIf="!message.incomming">
        <div class="sent_msg">
          <p *ngIf="!message.isFile">{{ message.message }}</p>
          <p *ngIf="message.isFile">
            <a title="Click to download" [download]="message.name" [href]="message.data">{{ message.name }}</a>
          </p>
          <span class="time_date"> {{message.time_date | date : 'shortTime' }} |
            {{ message.time_date | date : 'mediumDate'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="type_msg">
    <div class="input_msg_write">
      <input type="text" class="write_msg" (keydown.enter)="sendMessage(messageBox.value)"
        placeholder="Type a message" #messageBox />

      <input type="file" (change)="uploadFile(fileInput.files[0])" hidden #fileInput />

      <button class="msg_send_btn attach_btn" type="button" 
      (click)="fileInput.click()">
          <i class="fas fa-paperclip"></i>
      </button>

      <button class="msg_send_btn" type="button" (click)="sendMessage(messageBox.value)">
        <i class="fas fa-paper-plane"></i>
      </button>

    </div>
  </div>
</div>