img {
    max-width: 100%;
  }
  
  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }
  
  .top_spac {
    margin: 20px 0 0;
  }
  
  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }
  
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }
  
  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  
  .received_withd_msg {
    width: 57%;
  }
  
  .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
  }
  
  .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  
  .outgoing_msg {
    overflow: hidden;
    margin: 20px 20px 20px 0px;
    a {
      color: white;
    }
  }
  
  .sent_msg {
    float: right;
    width: 46%;
  }
  
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    padding-right: 75px;
  }
  
  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }
  
  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  
  .attach_btn{
    margin-right: 35px;
  }
  
  .messaging {
    padding: 0 0 50px 0;
  }
  
  .msg_history {
    height: 516px;
    overflow-y: auto;
  }
  