<div class="modal-header">
    <h4 class="modal-title">Create New Group</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <input id="group-name" class="form-control" placeholder="Group name" #groupName>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark " (click)="activeModal.close(false)">Cancel</button>
    <button type="button" class="btn btn-danger " (click)="activeModal.close(groupName.value)">Ok</button>
</div>