<div class="container">
  <div class="messaging">
    <div class="inbox_msg">
      <app-friend-list [selected-friend]='selectedFriend'></app-friend-list>
      <app-chat-box [selected-friend]='selectedFriend'></app-chat-box>
    </div>

    <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>

  </div>
</div>
