<div class="inbox_people">
  <div class="headind_srch">
    <div class="recent_heading">
      <h4>
        <span [ngClass]="{'list_type_selected': typeSelected}" 
        class="list_type" 
        (click)="typeSelected = true"><i class="fas fa-user"></i></span>
        
        <span [ngClass]="{'list_type_selected': !typeSelected}" 
        class="list_type" 
        (click)="typeSelected = false"><i class="fas fa-users"></i></span>
      </h4>
    </div>
    <div class="srch_bar" [hidden]="typeSelected">
      <div class="stylish-input-group">
        <span class="input-group-addon" style="margin-right: 20px;">
          <button type="button" (click)="addGroup()" title="Click create group">
            <i class="fas fa-user-friends"></i>
            <i class="fas fa-plus"></i>
          </button>
        </span> 

        <input type="text" class="search-bar" placeholder="Find group (id)"
        (keydown.enter)="findGroup(groupSearch.value)"
          #groupSearch>
        <span class="input-group-addon">
          <button type="button" (click)="findGroup(groupSearch.value)"
           [hidden]="onSearch" title="Click or enter to find a friend">
            <i class="fa fa-search" aria-hidden="true"></i> 
          </button>
          <button type="button" [hidden]="!onSearch" (click)="sreachCancel()" 
          title="Click to cancel"> 
          <i class="far fa-times-circle"aria-hidden="true"></i> 
        </button>
        </span> 
      </div>
    </div>

    <div class="srch_bar" [hidden]="!typeSelected">
      <input type="text" class="search-bar" placeholder="Find friends (email)"
        (keydown.enter)="findFriend(friendSearch.value)"
          #friendSearch>
        <span class="input-group-addon">
          <button type="button" (click)="findFriend(friendSearch.value)"
            [hidden]="onSearch" title="Click or enter to find a friend">
            <i class="fa fa-search" aria-hidden="true"></i> 
          </button>
          <button type="button" [hidden]="!onSearch" (click)="sreachCancel()" 
          title="Click to cancel"> 
          <i class="far fa-times-circle"aria-hidden="true"></i> 
        </button>
        </span> 
    </div>
  </div>

  <div class="inbox_chat" [hidden]="onSearch || !typeSelected">
    <div class="chat_list" [class.active_chat]='selectedFriend === friend.userInfo._id' routerLink="/messages"
      [queryParams]='{selected: friend.userInfo._id}' *ngFor="let friend of friendList$ | async" [hidden]="onSearch">
      <div class="chat_people" title="Click to chat">
        <div class="chat_img"> <img src='assets/img/user-profile.png' alt="sunil"> 
        </div>
        <div class="chat_ib">
          <h5>
              {{ friend.userInfo.name }}
            <span>
              <label class="dropdown">
                <div class="dd-button" (click)="removeFriend(friend.userInfo._id)" title="Unfriend">
                  <i class="fas fa-user-slash"></i>
                </div>
              </label> 
            </span>

            <span *ngIf="friendsStatus[friend.userInfo._id]">
              <label class="dropdown">
                <div class="online_text" title="Online">
                  <i class="fas fa-circle"></i>
                </div>
              </label> 
            </span>
          </h5>
          <span class="chat_date">{{friend.lastDateMessage | date : 'shortTime' }} |
              {{ friend.lastDateMessage | date : 'mediumDate'}}</span>
        </div>
      </div>
    </div>
  </div>

  <app-group-list [hidden]="onSearch || typeSelected"
                  group-list="grouplist$"
                  [selected-friend]="selectedFriend">
  </app-group-list>

  <div class="inbox_chat" [hidden]="!onSearch || !typeSelected">
    <div class="chat_list" *ngIf="friendResult$ | async as friendResult">
      <div class="chat_people" *ngIf="friendResult.name">
        <div class="chat_img"> <img src='assets/img/user-profile.png' alt="sunil"> </div>
        <div class="chat_ib">
          <h5>{{ friendResult.name }}</h5>
          <p><span class="add_btn" (click)="addFriend(friendResult._id)">Add to friend list</span></p>
        </div>
      </div>

      <div class="chat_people" *ngIf="!friendResult.name">
        <div class="chat_ib">
          <h5>User is not exist!</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="inbox_chat" [hidden]="!onSearch || typeSelected">
    <div class="chat_list" *ngIf="groupResult$ | async as groupResult">
      <div class="chat_people" *ngIf="groupResult.name">
        <div class="chat_img"> <img src='assets/img/user-profile.png' alt="sunil"> </div>
        <div class="chat_ib">
          <h5>{{ groupResult.name }}</h5>
          <p><span class="add_btn" (click)="joinGroup(groupResult._id)">Join Group</span></p>
        </div>
      </div>

      <div class="chat_people" *ngIf="!groupResult.name">
        <div class="chat_ib">
          <h5>Group is not exist!</h5>
        </div>
      </div>
    </div>
  </div>

</div>
