<div class="inbox_chat">
  <div class="chat_list" [class.active_chat]='selectedFriend === group._id' 
      routerLink="/messages"
      [queryParams]='{selected: group._id}' 
      *ngFor="let group of groupList$ | async" 
      [hidden]="onSearch">
    <div class="chat_people" title="Click to chat">
      <div class="chat_img"> <img src='assets/img/user-profile.png' alt="sunil"> 
      </div>
      <div class="chat_ib">
        <h5>
            {{ group.name }}
          <span>
            <label class="dropdown">
              <div class="dd-button" (click)="removeGroup(group._id)" title="Unfriend">
                <i class="fas fa-user-slash"></i>
              </div>
            </label> 
          </span>
        </h5>
      </div>
    </div>
  </div>
</div>