  .inbox_chat {
    height: 550px;
    overflow-y: auto;
  }

  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    cursor: pointer;
  }
    
  .active_chat {
    background: #ebebeb;
  }
  .chat_people {
    display: flex;
  }
  
    
  .chat_img {
    float: left;
    width: 11%;
  }

  .chat_ib h5 {
    font-size: 20px;
    color: #464646;
    margin: 0 0 8px 0;
  }
  
  .chat_ib h5 span {
    float: right;
  }
  
  .chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
  }

  
  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }
  
  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
  }

  .add_btn {
    cursor: pointer;
    color: blue !important;
  }
  
  .add_btn:hover {
    color: lightblue !important;
  }
  
  .remove_btn {
    cursor: pointer;
    color: lightcoral !important;
  }
  
  .remove_btn:hover {
    color: red !important;
  }

  img {
    max-width: 100%;
  }
  //////////////////////////////////////////////////////////////////////